
$colores:(
    menu-nav: white,
    hamburguesa: #fff,
    hamburguesa-fondo: #0a3d70,
    fondo-navhover: #000090,
    hover-nav: red,
    titular: antiquewhite,
    titular-secundario: goldenrod,
    degrade: rgba(0, 0, 0, 0.3),
    parrafo: black,
    parrafo-inicio: aliceblue,
    parrafo-batalla: white,
    boxh-fondo: antiquewhite,
    fondo-gryff: red,
    fondo-sly: darkgreen,
    fondo-rav: blue,
    fondo-huff: yellow,
    fondo-formu: grey,
    )


